extends includes/layout.pug

block content
  article#page
    //- h1= page.title
    //- != page.content
  if page.title === 'tags'
    #category
      - var categoriesList = list_categories({ show_count: theme.tagsPage.category.show_count })
      - var tagsList = list_tags({ show_count: theme.tagsPage.tag.show_count })
      #categories
        h1!= __("category.categories")
        if categoriesList
          != list_categories({show_count: theme.tagsPage.category.show_count, style: span, depth: 1})
        else
          p None.
      br
      #tags
        h1!= __("category.tags")
        if site.tags.length
          // 检查是否启用字母索引功能
          if theme.tagsPage.tag.alphabet_index
            // 字母索引模式
            .alphabet-nav
              - var alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ#'.split('')
              each letter in alphabet
                a.alphabet-link(href=`#letter-${letter}` data-letter=letter)= letter
            
            // 标签搜索框
            .tag-search-container
              input#tag-search.tag-search-input(type="text" placeholder=__("tagSearch.placeholder"))
              i.fa.fa-search.search-icon
            
            // 按字母分组的标签
            .tags-by-alphabet
              - var tagsByLetter = {}
              - site.tags.each(function(tag) {
              -   var firstLetter = tag.name.charAt(0).toUpperCase()
              -   if (!/[A-Z]/.test(firstLetter)) firstLetter = '#'
              -   if (!tagsByLetter[firstLetter]) tagsByLetter[firstLetter] = []
              -   tagsByLetter[firstLetter].push(tag)
              - })
              
              each letter in alphabet
                if tagsByLetter[letter]
                  .letter-group
                    h2.letter-header(id=`letter-${letter}`)= letter
                    .tags-container
                      each tag in tagsByLetter[letter]
                        .tag-item(data-tag-name=tag.name.toLowerCase())
                          a.tag-link(href=url_for(tag.path))
                            span.tag-name= tag.name
                            if theme.tagsPage.tag.show_count
                              span.tag-count= tag.posts.length
          else
            // 传统标签云模式
            .traditional-tags
              != tagsList
        else
          p None.
      br
  if page.title === 'links'
    if page.links
      .links
        each group, index in page.links
          h2.link-title!= group.group_name
          .group-description!= group.description
          if group.items
            ul.group-items.clearfix
              each item in group.items
                  li.item-friend(title=item.description)
                    a.item-friend-links(href=item.url)
                      img.site-preview(src=item.img, alt=item.name,,onerror="this.src='img/pic_load_fail.png'")
                      .site-name!= item.name
                      .site-description!= item.description
        include includes/comment.pug
        include includes/locate-button.pug
  if page.title === "project"
    if page.projects
      .projects
        .projects-header
          h1!= "Study Projects"
        ul
          li
            i.fa.fa-circle
            span!= "All projects in this page is not original"
          li
            i.fa.fa-circle
            span!= "But all projects are written by blogger"
          li
            i.fa.fa-circle
            span!= "Click the title to jumpt to the certain original link"
        .projects-container-outer
          .project-container
            each item, index in page.projects
              .box(onclick="javascript:window.location.href='#{item.origin}''")
                .content
                  h2!= ("000" + String(index)).substr(-2)
                  a.title(href=item.origin ,target="_blank")!= item.title
                  p!= item.description
                  a.readmore(href=item.url)!= "Preview"
        .comment
          include includes/comment.pug
  if page.title === "novel"
    .novel
      .left-intro
        h2!= "阅读指南"
        ul
          li!= "点击书的封皮，打开对应的书"
          li!= "← →键翻页"
          li!= "可以手动拖拽翻页"
        h2!= "说明"
        div!= "作者：o_oyao"
        div!= "本页所有书目均为博主原创，书中内容并不代表作者任何立场。"
        div!= "图片及封面来源：网络"
        div!= "书的封面和书中图片均来自网络并加以制作而成，如有侵权，请联系我"
        div
          span!="引用库：本项目引用"
          a(href="http://www.turnjs.com/?tdsourcetag=s_pctim_aiomsg#")!= "turn.js"
          span!= "库"
        h3!="文笔幼稚请不要嘲笑"
      .right-bookshell
        .first-shell
          a.book-lost(href="/books/samples/Lost/index.html")
            img.cover(src="/img/cover-lost.jpg")
          a.book-sick(href="/books/samples/Sick/index.html")
            img.cover(src="/img/cover-sick.jpg")
          a.book-lost(href="/books/samples/Singer/index.html")
            img.cover(src="/img/cover-singer.jpg")
        .second-shell
          a.book-lost(href="/books/samples/old-man/index.html")
            img.cover(src="/img/cover-oldman.jpg")
    include includes/comment.pug
  #paginator!= paginator()
